<!DOCTYPE html>
<html ng-app="ui.bigData">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="selectTags.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

  <div class="container">
    <p><br/></p>
 
        <div class="col-md-12">
   <div class="panel panel-info">
 <div class="panel-heading">
 
 <div class='container-fluid typeahead-demo' ng-controller="TypeaheadCtrl">
 <hr/>
<div class="col-md-5">
    <<pre>Enter Tag(find for test): {{selected | json}}</pre>
    <input type="text" ng-model="selected" uib-typeahead="tags for tags in tags | filter:$viewValue | limitTo:8" class="form-control">

   
    <pre>Enter Tag: {{asyncSelected | json}}</pre>
    <input type="text" ng-model="asyncSelected" placeholder="Enter Tag" uib-typeahead="tags for tags in getTags($viewValue)" typeahead-loading="loadingTags" typeahead-no-results="noResults" class="form-control">
    <i ng-show="loadingTags" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>

<div class="col-md-5 >

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Вид анализа
</button>
<ul class="dropdown-menu ">
 <li class="dropdown-header"><a href="#">Распределение твитов по времени суток</a></li>
 <li class="dropdown-header"><a href="#">Распределение твитов по дням недели</a></li>
<li class="dropdown-header"><a href="#">Распределение твитов по странам</a></li>
<li class="dropdown-header"><a href="#">Распределение твитов по языку</a></li>
<li class="dropdown-header"><a href="#">Распределение твитов по дням недели</a></li>
<li class="dropdown-header"><a href="#">Распределение твитов по количеству лайков</a></li>
<li class="dropdown-header"><a href="#">Распределение твитов по количеству followers пользователя</a></li>
</ul>
</div>
</div>
</div>
 <div class="panel-body">
<hr/>

<hr/>
<a href="#">
 <button type="button" class="btn btn-primary">Analize
 </button>
    </a>
 </div>
 </div>
 </div>
 </div>


<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>
